{% set attributes = attributes.addClass('w-full', 'text-white', 'bg-nord-1',
  'hover:bg-nord-3', 'font-medium', 'rounded-lg', 'text-sm', 'px-5', 'py-2.5',
  'text-center', 'inline-flex', 'cursor-pointer') %}

{% apply spaceless %}
  <select{{ attributes }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endapply %}
