<div class="flex">
  <div class="mr-4 mt-2 flex-shrink-0">
    <a href="{{ url }}">{{ picture }}</a>
  </div>
  <div>
    <h4 class="text-lg font-bold text-nord-1">
      <a href="{{ url }}">{{ title }}</a>
    </h4>
    <div class="mt-1 text-nord-3">{{ body }}</div>
    <div>{{ details }}</div>
  </div>
</div>
